/* $HOME/.config/waybar/style.css */


/* https://coolors.co */

/* ------------------------ */
/* bright background colors */

/* --tangerine-dream: */ 
@define-color brightbg #f7a072;

/* --pumpkin-spice: */ 
@define-color brightbg #fe7f2d;

/* --apricot-cream: */
@define-color brightbg #f9c784;

/* --pumpkin-spice: */
@define-color brightbg #fc7a1e;

/* --molten-orange: */
@define-color brightbg #f24c00;

/* --bubblegum-pink */
@define-color brightbg #ef476f;


/* --------------------- */
/* med background colors */

/* --pacific-blue: */
@define-color medbg #0fa3b1;

/* --seagrass: */
@define-color medbg #619b8a;

/* --stormy-teal */
@define-color medbg #086375;


/* ---------------------- */
/* dark background colors */

/* --dusk-blue: */
@define-color darkbg #485696;

/* --bright-teal-blue */
@define-color darkbg #0077b6;

/* --charcoal-blue: */
@define-color darkbg #233d4d;

/* --dark-teal */
@define-color darkbg #073b4c;


/* ------------------ */
/* bright text colors */

/* --porcelain: */
@define-color brightxt #f9f7f3;


/* --------------- */
/* med text colors */

/* --icy-blue: */ 
@define-color medtxt #b5e2fa;

/* --alabaster-grey: */ 
@define-color medtxt  #e7e7e7; 


/* ---------------- */
/* dark text colors */

/* --vanilla-custard: */ 
@define-color darktxt #eddea4;

/* --golden-pollen: */
@define-color darktxt #fcca46;


* {
/*  otf-font-awesome is required to be installed for icons */
/*  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */		
/*	font-family: DejaVu Sans Mono; */
		font-family: "AtkynsonMono Nerd Font", "0xProto Nerd Font", "InconsolataGo Nerd Font", "DejaVuSansM Nerd Font", "FiraMono Nerd Font", "JetBrainsMono Nerd Font", FontAwesome;	
    font-size: 15px;
}

window#waybar {
	background-color: @medbg; 
  border-bottom: 1px solid @medtxt; 
  color: @brighttxt;
	font-weight: bold;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar>box {
	margin-top: 5px;
	margin-bottom: 5px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: black;
  border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button {
	color: @medtxt;
	background: inherit;
  background-color: transparent;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 2px;
	padding: 0 5px;
}

#workspaces button:hover {
	color: @medtxt;
	background: @brightbg;
	border-radius: 15px;
}

#workspaces button.focused {
	color: @medtxt;
  background-color: @darkbg;
	border-radius: 15px;
}

#workspaces button.urgent {
  background-color: red;
}

#mode {
	color: white;
  background-color: deeppink;
  box-shadow: inset 0 -3px yellow;
}

#clock, 
#language,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
	padding: 0 3px 0 3px; /* top right bottom left */
	margin: 0 0 0 0; /* top right bottom left */
  color: @medtxt;
	background-color: transparent;
}

#clock:hover,
#backlight:hover,
#pulseaudio:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
	color: @medtxt;
	background-color: @brightbg;
	border-radius: 2px; 
}

#window,
#workspaces {
  margin: 0 4px;
	color: @darktxt;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}


@keyframes blink {
  to {
    background-color: ivory;
    color: red;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: red;
  color: ivory;
  animation-name: blink;
  animation-duration: 1.0s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964B00;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted {
  background-color: #ff0000;
}

#wireplumber.muted {
  background-color: #ff0000;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature.critical {
  background-color: #ff0000;
	color: white;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background-color: transparent;
}

#keyboard-state {
  background: #00ff00;
}

#keyboard-state > label {
  /* padding: 0 5px; */
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  /*   padding: 0 5px; */
  color: @brighttxt;
	padding: 0 2px 0 2px; /* top right bottom left */
	margin: 3px 0 3px 0; /* top right bottom left */
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

